img.header_logo {
  width: 200px;
}

img.footer_logo {
  width: 200px;
}

.industries_selects {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.industries_select {
  display: flex;
  justify-content: space-between;
}

.industries_select > p {
  width: 50%;
}

.industries_select > select {
  width: 50%;
}

.newsletter_custom_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 80%;

  color: white;

  border: none;
}

.newsletter_custom_form_heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter_custom_form_heading > h4,
h6 {
  color: white;
}

input.newsletter_custom_form_input {
  width: 100%;
  height: 40px;
}

input.newsletter_custom_form_input:focus {
  background-color: white;
}

.newsletter_custom_form_input_wrapper {
  display: flex;
  width: 100%;
  gap: 20px;
}

button.newsletter_custom_form_submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 2px solid white;
  border-radius: 4px;
  background: transparent;
  height: 40px;
  color: white;
  font-weight: 600;

  transition: 0.5s all;
}

button.newsletter_custom_form_submit:hover {
  color: #007aff !important;
  background-color: white !important;
}

/* job grid  */

.job_offers_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.job_offers_custom {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.job_offer_card_custom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 70px;
  border: 1px solid black;
  color: black;
  background-color: rgba(81, 146, 255, 0.12);
  font-weight: 800;
  border-radius: 8px;
  font-size: 1.2rem;
}

button.ras_button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 4px;
  transition: 0.3s all;

  background-color: #72e0bf;
  color: white;
  font-weight: bold;
}

button.ras_button:hover {
  background-color: #6d4bd3 !important;
}
p.offer_details_p {
  margin: auto;
}

.newsletter_custom_form_heading > h3 {
  color: white;
}
.newsletter_custom_form_heading > h6 {
  color: white;
}

button.custom_button_card {
  background-color: #72e0bf;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 70px;
  font-weight: 800;
  border-radius: 8px;
  font-size: 1.2rem;
  border: none;
  color: white;
}
button.custom_button_card:hover {
  translate: 0px -5px;
  background-color: #6d4bd3 !important;
}

p.offer_details_p {
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0;
}

.list li {
  margin-left: 20px;
  list-style: circle;
  font-size: 18px;
  color: #586475;
  line-height: 1.5;
}

input[type="file"] {
  display: none;
}
label {
  display: block;
  position: relative;
  background-color: white;
  color: gray;
  font-size: 1.12em;
  font-weight: 500;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all;
  border: none !important;
}
label:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white !important;
}
#num-of-files {
  font-weight: 400;
  text-align: center;
  margin: 1.25em 0 1.87em 0;
}

.job_seekers_hero {
  background: linear-gradient(90deg, #000000 0%, #0059ff00 130%),
    url("../backdrop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.employees_hero {
  background: linear-gradient(90deg, #000000 0%, #0059ff00 130%),
    url("../backdrop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

p.skills_p {
  text-align: justify;
  margin: 10px 0px;
}

.single_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px 0px;
}

.still_confused_section {
  display: flex;
  justify-content: space-between;
}

.still_confused_img {
  height: 500px;
  border-radius: 40px 0px 40px 0px;
}

.box-newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px soid black;
}

@media (max-width: 1000px) {
  .newsletter_custom_form {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .still_confused_section {
    flex-direction: column;
  }

  .still_confused_img {
    display: none;
  }
}

@media (max-width: 600px) {
  .newsletter_custom_form_input_wrapper {
    flex-direction: column;
    gap: 0px;
  }

  .newsletter_custom_form_heading {
    text-align: center;
  }

  input.newsletter_custom_form_input {
    margin: 10px 0px;
    font-size: 14px;
  }
  h2,
  h3,
  h4 {
    font-size: 35px;
    line-height: 37px;
    text-align: left;
  }

  p.offer_details_p {
    font-size: 1rem;
  }
  p.employee_note {
    margin-top: 20px;
  }
}
